#tenders_main
{
    height: auto;
    width: 600px;
}

.tenders_part
{
    height: 150px;
    width: 200px;
    float: left;
    text-transform: capitalize;
    
}

.tenders_part img
{   
    border: 2px solid black;
    width: 190px;
}